section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blur-background {
  position: relative; /* 헤더 위에 위치하지 않도록 조정 */
  background: #FFFFFF;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%; /* 카드의 고정 높이 설정 */
  justify-content: center; /* 카드 내부의 내용 세로 중앙 정렬 */
}

.mypage-container {
  display: flex;
  flex-direction: column;
  width: 100%; /* 적절한 너비 */
  height: 95%;
  margin: 30px auto; /* 수평으로 중앙 정렬 */
}

.mypage-title {
  font-size: 27px;
  margin: 15px auto;
  color: #F9973E;
  text-align: center;
  width: 100%;
}

.mypage-info {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 0 auto; /* 중앙 정렬 */
}

/*마이페이지 왼쪽*/
.mypage-left-side {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*마이페이지 오른쪽*/
.mypage-right-side {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.my-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  width: 100%;
}

/*마이페이지 기본정보*/
.basic-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2열 그리드 */
  min-height: 350px;
  width: 100%;
  margin-bottom: 35px;
}

/*마이페이지 추가정보*/
.interest-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*추가정보 아이콘 - 결혼 , 아이 , 성별 ) */
i.fa-solid.fa-user {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 13px;
}

.add-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin: 30px 0 30px 0;
  align-items: center;
}

.info-detail {
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
  width: 270px;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  padding: 1.5rem;
  margin: 2px;
  color: #F9973E;
}

.info-detail:hover {
  background-color: #F9973E;
  color: #fff;
}

.info-header {
  padding: 10px 0;
  font-size: 20px;
}

.info-content {
  color: gray;
}

.info-detail:hover .info-content {
  color: #fff;
}

/* 아이콘 */
i {
  font-size: 50px;
}

/*정보들 알려주는 타이틀 */
.title {
  color: #F9973E;
  font-size: 25px;
  display: flex;
  justify-content: center;
}

.my-interest {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.my-interest-detail {
  margin: 10px;
}

.like-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.my-like {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.like-detail {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  align-items: center;
}

.like-detail:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2),
  0 10px 20px rgba(0, 0, 0, 0.2),
  0 15px 30px rgba(0, 0, 0, 0.5); /* 호버 시 그림자 확대 */

}

.policy-status {
  padding: 5px;
  width: 55px;
  border-radius: 20px;
  color: white;
  display: flex;
  justify-content: center;
}

.time {
  background-color: #ADCDFD;
}

.progress {
  background-color: #73D990;
}

.end {
  background-color: #FF8080;
}

.location-img img {
  width: 70px;
}

.location-name {
  flex: 1;
}

.policy-name {
  flex: 3; /* 남은 공간을 채우도록 설정 */
}

.fa-pen { /*수정하기 아이콘 */
  font-size: 13px;
}

.update-info {
  display: flex;
  flex-direction: row;
}

.update-btn { /*수정하기 버튼*/
  padding: 10px;
  width: 100px;
  border-radius: 20px;
  background-color: #F9973E;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  color: white;
}

.update-btn:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2),
  0 5px 15px rgba(0, 0, 0, 0.2),
  0 10px 20px rgba(0, 0, 0, 0.5); /* 호버 시 그림자 확대 */
}

.modal-content {
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.modal-content input {
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  padding: 5px 10px 5px 10px;
  font-family: 'Jua', sans-serif; /* 외부 폰트 적용 */
}

.modal-content input::placeholder {
  color: darkgrey;
  font-size: 1.2em;
  font-family: 'Jua', sans-serif; /* 외부 폰트 적용 */
}

.updateIcon {
  display: flex;
  flex-direction: row-reverse;
}

.add-info-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*반응형 웹 */
@media (max-width: 1000px) {
  .mypage-container {
    display: flex;
    width: 100%;
    /*padding:20px;*/
  }

  .mypage-left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .mypage-right-side {
    width: 50%;
    display: flex;
  }

  .my-info {
    width: 90%;
    display: flex;
    padding: 5px;
    flex-direction: column;
    align-items: center;
  }

  .interest-info {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .title {
    font-size: 20px;
  }

  .like-detail {
    display: flex;
    flex-direction: column;
  }

  .location-img {
    display: flex;
    margin: 0;
  }

  .add-info {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .info-detail {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
  }

  .my-interest {
    display: flex;
    flex-direction: column;
  }

  .info-detail {
    width: 220px;
  }
}

/*반응형 웹 */
@media (max-width: 662px) {
  .mypage-container {
    display: flex;
    width: 100%;
  }

  .left-side {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .mypage-info {
    display: flex;
    flex-direction: column;
  }

  .mypage-left-side {
    width: 100%;
  }

  .my-info {
    display: flex;
    align-items: center;
    box-shadow: none;
  }

  .basic-info {
    display: grid;
    margin: 0;
    grid-template-columns: repeat(2, 1fr); /* 3열 그리드 */
    min-height: 350px;
  }

  .interest-info {
    display: flex;
    margin-top: 30px;
  }

  .my-interest {
    display: flex;
    flex-direction: column;
  }

  .mypage-right-side {
    width: 100%;
  }

  .like-info {
    margin-top: 20px;
  }

  .my {
    width: 100px;
  }

  .title-my-interest {
    display: flex;
    flex-direction: column;
    width: 230px;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    padding: 1.5rem;
    margin: 2px;

  }
}

@media (max-width: 460px) {
  .basic-info {
    display: flex;
    margin: 0;
    flex-direction: column;
    min-height: 670px;
    align-items: center;

  }

  .my {
    width: 260px;
  }

  .info-detail {
    width: 250px;
    padding: 1.5em;
  }

  .title-my-interest {
    width: 260px;

  }
}

img {
  width: 60px;
  margin-bottom: 5px;
}

.my {
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  padding: 1.5rem;
  margin: 2px;
  color: black;
  align-items: center;
}