.updateInfo-modal {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}

.modal-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.modal-content input {
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  padding: 5px 10px 5px 10px;
  font-family: 'Jua', sans-serif; /* 외부 폰트 적용 */
}

.modal-content input::placeholder {
  color: darkgrey;
  font-size: 1.2em;
  font-family: 'Jua', sans-serif; /* 외부 폰트 적용 */
}

/*왼쪽 수정*/
.modal-left {
  width: 100%;
  margin: 20px;
}

/*오른쪽 수정 */
.modal-right {
  width: 100%;
  margin: 20px;
}

.update-detail-btn {
  background-color: #F9973E;
  color: white;
  border: none;
  padding: 7px 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Jua', sans-serif; /* 외부 폰트 적용 */
}

.close {
  display: flex;
  justify-content: flex-end;
}

.close-btn {
  background-color: transparent;
  color: #FFBB6A;
  font-size: 30px;
  font-weight: bold;
  border: none;
}

.login-form button:hover {
  background-color: #e06a43;
}

.category-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px 0;
}

.category-list label {
  background-color: white;
  border: 1px solid #f79025;
  border-radius: 15px;
  padding: 8px;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-list button:hover {
  background-color: #f79025;
  color: white;
}

.category-list button {
  color: black;
  font-size: 1.03em;
}

/* 원래 라디오 버튼 제거*/
input[type="radio"] {
  display: none;
}

/*라디오 버튼 커스텀*/
.category-list input[type="radio"] + label {
  display: inline-block;
  cursor: pointer;
  height: 24px;
  width: 90px;
  line-height: 24px;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  background-color: #fff;
  color: #333;
}

/*라디오 버튼 클릭시*/
.category-list input[type="radio"]:checked + label {
  background-color: #f79025;
  color: #fff;
}

.radio {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.update_nickname {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}