.updatePassword-modal {
  display: none; /* 기본적으로 숨김 */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 화면 중앙으로 이동 */
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  z-index: 4; /* hiddenBackground 위에 표시되도록 설정 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.update-password-form button:hover {
  background-color: #e06a43;
}

.update-password-form {
  display: flex;
  flex-direction: column;
}

.updatePw-btn {
  margin-top: 10px;
  background-color: #F9973E;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Jua', sans-serif; /* 외부 폰트 적용 */
}

.close {
  display: flex;
  justify-content: flex-end;
}

.close-btn {
  background-color: transparent;
  color: #FFBB6A;
  font-size: 30px;
  font-weight: bold;
  border: none;
}
