/* 
 * 		Visual styles for demo
 * */
body {
	/*background:#191e24;*/
	background: #333;
	color:#eee;
	font-family:arial, sans-serif;
}
.container {
	position: relative;
	width:95%;
	max-width: 960px;
	margin: 0 auto;
}
.scroll-test p {
  border-top:1px solid rgba(0,0,0,.1);
  color:#444;
}

.slide_1, 
.slide_2, 
.slide_3 {
	color:white;
	height:400px;
}

.slide_1 { 
	background: url('http://lorempixel.com/600/400/nature/2/') no-repeat center center;
	background-size: 100% auto;
}
.slide_2 { 
	background: url('http://lorempixel.com/600/400/nature/4/') no-repeat center center;
	background-size: 100% auto;
}
.slide_3 { 
	background: url('http://lorempixel.com/600/400/nature/6/') no-repeat center center;
	background-size: 100% auto;
}


/* 
 * 		Slider styles
 * */
.csstransforms .as-wrap { transition: opacity 1s ease-out; }
.as-wrap {
	display:none;
	opacity: 0;
	position: relative;
	overflow: hidden;
	width: 100%;
}
.as-wrap.loaded {opacity: 1;}
.as-wrap .as-view {
	position: relative;
	width:100%;
	overflow: hidden;
	height:400px;
}
.as-wrap .as-view .as-slider {
	position: absolute;
	list-style: none;
	margin:0; padding:0;
}
.csstransforms .as-wrap .as-view .as-slider { transition: left 1s ease-in-out; }
.csstransforms .as-wrap .as-view .as-slider.no-transition { transition: none; }
.as-wrap .as-view .as-slider .as-item {
	position: relative;
	overflow: hidden;
	margin:0; padding:0;
	float: left;
}

/* Progress bar */
.as-wrap .as-progress {
	position: relative;
	width: 100%;
	min-height:5px;
	margin-top:-5px;
	background: transparent;
	overflow: hidden;
	z-index:2;
}

.as-wrap .as-progress-value {
	position: absolute;
	top:0;
	left:0;
	min-height: 5px;
	min-width: 0;
	width:0;
	max-width: 100%;
	background: lime;
}

/* Navigation */
.csstransforms .as-wrap .as-nav a { transition: opacity .4s ease-out; }
.as-wrap .as-nav a {
	opacity: 0;
	position: absolute;
	top:0;
	height:100%;
	width:50px;
	text-align:center;
	color:white;
	z-index:2;
}
.as-wrap .as-nav .dir-prev { left:0; }
.as-wrap .as-nav .dir-next { right:0; }
.as-wrap .as-nav a:hover { 
	color:#000;
	opacity: 1;
}
.as-wrap.hovering-marker .as-nav a { opacity: 1; }
.as-wrap .as-nav a span {
	position: absolute;
	top:50%;
	left:0;
	margin-top:-40px;
	display:block;
	height:80px;
	width: 50px;
	background:lime;
	font-size:2em;
	line-height: 80px;
}

/* Marker */
.as-wrap .as-markers {
	list-style: none;
	text-align: center;
	padding:0; margin:0;
}
.as-wrap .as-markers .as-mark {
	display:inline-block;
	margin:10px 5px 0 5px;
}
.as-wrap .as-markers .as-mark a {
	display:block;
	text-decoration: none;
	color:#ccc;
}
.as-wrap .as-markers .as-mark a:hover, 
.as-wrap .as-markers .as-mark.active a { color:lime; }
.as-wrap .as-markers .as-mark a span {
	display:block;
	width: 10px;
	height:10px;
	font-size:40px;
	line-height: 10px;
}

/* Caption */
.as-wrap .as-item .caption {
	position: absolute;
	top:0;
	left:0;
	height: 100%;
	width:40%;
	background: #000;
	z-index:2;
	padding:0 20px 0 60px;
	box-sizing: border-box;
}
.rgba .as-wrap .as-item .caption { background:rgba(0,0,0,.5); }

@media (max-width: 767px) {
	/* Demo style */
  body {padding:0; margin:0;}
	.slide_1, .slide_2, .slide_3 {background-size: auto 100%;}
  .container {width:100%}
	/* *** */
	.as-wrap .as-view { height: 250px; }
	.as-wrap .as-view .as-slider .as-item .caption { width:100%; }
	.touch .as-wrap .as-nav { display:none;}
.as-wrap .as-item .caption {padding:1em;}
}