/* 기본 스타일 설정 */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* x축 스크롤바 제가 */
  font-family: 'Jua', sans-serif; /* 외부 폰트 적용 */
  color: #333;
}

/* 헤더 스타일 */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #f8f8f8;
  height: 70px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px; /* 로고 이미지 크기 */
  margin-right: 10px;
}

/* 로그인 버튼 CSS */
.login button {
  font-weight: bold;
  color: white;
  background-color: #F9973E;
  padding: 0.5em 1em;
  border: none;
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  box-shadow:  1px 1px 2px #FFBB6A,
  -1px -1px 2px #FFBB6A
}

.login button span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  background-color: #e06a43;
  border-radius: 50%;
  transition: .6s ease;
}

.login button span:nth-child(6) {
  position: relative;
}

.login button span:nth-child(1) {
  transform: translate(-3.3em, -4em);
}

.login button span:nth-child(2) {
  transform: translate(-6em, 1.3em);
}

.login button span:nth-child(3) {
  transform: translate(-.2em, 1.8em);
}

.login button span:nth-child(4) {
  transform: translate(3.5em, 1.4em);
}

.login button span:nth-child(5) {
  transform: translate(3.5em, -3.8em);
}

.login button:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
}

/* 개인 정보 */
.my-img {
  width: 70px; /* 원의 크기 */
  height: 70px; /* 원의 크기 */
  border-radius: 50%; /* 원형으로 만들기 */
  overflow: hidden; /* 이미지가 원 바깥으로 나가지 않도록 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid orange; /* 테두리 색상 및 두께 */
}

.person {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 원 안에 이미지가 잘 맞도록 조정 */
}

.triangle {
  display: none;
  width: 30px;
  background-color: #ffffffd4;
  backdrop-filter: blur(10px);
  height: 30px;
  border-radius: 4px;
  box-shadow: -2px 2px rgb(178 178 178 / 0.3);
  transform: rotate(135deg);
  position: absolute;
  top: 60px;
  right: 20px;
  z-index: 1;
}

.my-modal {
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 500; /* 다른 요소 위에 위치하도록 설정 */
  background-color: #ffffffd4;
  backdrop-filter: blur(10px);
  box-shadow: -2px 2px rgb(178 178 178 / 0.3);
  top: 70px;
  right: 5px;
  width: 300px;
  height: 200px;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.my-modal-detail {
  padding: 10px;
}

.modal-btn {
  background-color: #FFBB6A;
  cursor: pointer;
  width: 150px;
  border: 0;
  border-radius: 30px;
  height: 30px;
  font-family: 'Jua', sans-serif;
  color: white;
}

/* 워드클라우드 부분 */
#myChart {
  width: 100%;
  min-height: 500px;
}

.zc-ref {
  display: none;
}

.index-container {
  display: flex; /* Flexbox 사용 */
  width: 100%;
  padding: 30px;
}

.index-left-side {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.index-right-side {
  width: 40%;
  display: flex;
  align-items: center;
  padding: 20px;
  margin-right: 100px;
}

/* 검색창 스타일 */
.search-area {
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-area h2 {
  font-size: 2em; /* 기본 폰트 크기 */
  color: #F9973E;
  margin-bottom: 10px;
}

.search-area .search-container {
  position: relative;
  width: 60%;
  max-width: 600px;
  background-color: #FFBB6A;
  height: 60px;
  border-radius: 40px;
  padding-left: 20px;
  display: flex;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.search-area input[type="text"] {
  background-color: transparent;
  border: 0;
  width: 100%;
  margin-top: 4px;
  outline: none;
  box-sizing: border-box;
  font-family: 'Jua', sans-serif;
  font-size: 1.3em;
  color: black;
}

.search-icon {
  right: 20px; /* 검색창의 오른쪽 여백 설정 */
  top: 50%; /* 검색창의 수직 가운데 정렬 */
  color: #ffffff;
  font-size: 1.2em; /* 아이콘 크기 조정 */
}

/* placeholder 스타일 */
.search-area input[type="text"]::placeholder {
  font-family: 'Jua', sans-serif; /* 외부 폰트 적용 */
  color: #ffffff;
}

/* 혜택이 많은 지역 스타일 */
.top-areas {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-areas h2 {
  text-align: left;
  font-size: 2em; /* 기본 폰트 크기 */
  color: #F9973E;
  margin-bottom: 10px;
}

.areas-list {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  gap: 30px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; /* 반응형을 위해 Flexbox 사용 */
}

.area-item {
  display: flex;
  flex-direction: row; /* 기본 방향 설정 */
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 200px;
  transition: transform 0.3s;
  gap: 30px; /* 이미지와 텍스트 사이의 간격 */
  box-sizing: border-box; /* 테두리와 패딩을 너비에 포함 */
  overflow: hidden; /* 내용이 요소를 벗어나지 않도록 설정 */
}

.area-item img {
  width: 150px; /* 고정 폭 */
  height: auto;
  max-height: 150px; /* 이미지 크기 조정 */
}

.area-item .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-top: 10px;
}

.area-item .text .region-name {
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
}

.area-item .text .region-tag {
  margin-top: 5px;
  color: #F9973E; /* 태그 색상 */
}

.area-item:hover {
  transform: translateY(-10px);
}

.area-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

/* 푸터 스타일 */
footer {
  background-color: #FFE9CE;
  padding: 15px;
  text-align: left;
}

.footer-content p {
  margin: 0;
}

.footer-content a {
  color: #767676;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume-href {
  margin: 10px;
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFBB6A;
  border: 0px;
  border-radius: 20px;
  margin-right: 20px;
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 768px) {
  .index-container {
    display: flex; /* Flexbox 사용 */
    width: 100%;
    padding: 30px;
  }

  .index-left-side {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .index-right-side {
    display: none;
  }

  .search-area .search-container {
    width: 80%;
  }

  .search-icon {
    font-size: 1em; /* 화면 크기에 따라 아이콘 크기 조정 */
  }

  .search-area h2 {
    font-size: 1.2em; /* 화면 너비가 768px 이하일 때 폰트 크기 조정 */
  }

  .areas-list {
    gap: 10px;
  }

  .area-item {
    width: 70%;
    flex-direction: column; /* 이미지와 텍스트가 수직으로 배치되도록 변경 */
    height: auto; /* 높이 자동 조정 */
    gap: 10px; /* 이미지와 텍스트 사이의 간격 조정 */
    box-sizing: border-box; /* 테두리와 패딩을 너비에 포함 */
  }

  .banner-text h1 {
    font-size: 1.5em; /* 화면 너비가 768px 이하일 때 폰트 크기 조정 */
  }

  .banner-text p {
    font-size: 1em; /* 화면 너비가 768px 이하일 때 폰트 크기 조정 */
  }

  .top-areas h3 {
    font-size: 1em; /* 화면 너비가 768px 이하일 때 폰트 크기 조정 */
  }
}

@media (max-width: 480px) {
  .index-container {
    display: flex; /* Flexbox 사용 */
    width: 100%;
    padding: 30px;
  }

  .index-left-side {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .index-right-side {
    display: none;
  }

  .search-area .search-container {
    width: 90%;
  }

  .search-icon {
    font-size: 0.8em; /* 화면 크기에 따라 아이콘 크기 조정 */
    right: 10px; /* 화면이 작아질 때 오른쪽 여백 조정 */
  }

  .search-area h2 {
    font-size: 1em; /* 화면 너비가 480px 이하일 때 폰트 크기 조정 */
  }

  .area-item {
    width: 100%;
    flex-direction: column; /* 이미지와 텍스트가 수직으로 배치되도록 변경 */
    height: auto; /* 높이 자동 조정 */
    gap: 10px; /* 이미지와 텍스트 사이의 간격 조정 */
    box-sizing: border-box; /* 테두리와 패딩을 너비에 포함 */
  }

  .area-item img {
    width: 100%; /* 이미지 너비를 100%로 설정 */
    max-height: 200px; /* 화면이 작을 때 이미지 크기 조정 */
  }

  .area-item .text {
    text-align: center; /* 텍스트를 가운데 정렬 */
  }

  .banner-text h1 {
    font-size: 1.2em; /* 화면 너비가 480px 이하일 때 폰트 크기 조정 */
  }

  .banner-text p {
    font-size: 0.8em; /* 화면 너비가 480px 이하일 때 폰트 크기 조정 */
  }

  .top-areas h3 {
    font-size: 0.9em; /* 화면 너비가 480px 이하일 때 폰트 크기 조정 */
  }

}

/* 로그인 스타일 */

.hidden-background {
  display: none; /* 기본적으로 숨김 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 투명도 있는 어두운 배경 */
  z-index: 1;
}
