<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sandbox.apricot.member.mapper.MemberMapper">

  <resultMap id="memberResultMap" type="sandbox.apricot.member.entity.Member">
    <result property="memberRole" column="MEMBER_ROLE" typeHandler="org.apache.ibatis.type.EnumTypeHandler" javaType="sandbox.apricot.member.entity.MemberRole"/>
  </resultMap>

  <insert id="insertMember" parameterType="sandbox.apricot.member.entity.Member" >
    INSERT INTO MEMBERS (EMAIL, NICK_NAME, PASSWORD, AGE_RANGE, GENDER, CAREER, MARRIED_STATUS, NUM_CHILD, MEMBER_ROLE)
    VALUES (#{email}, #{nickName}, #{password}, #{ageRange}, #{gender}, #{career}, #{marriedStatus}, #{numChild}, #{memberRole})
  </insert>

  <select id="findByEmail" parameterType="String" resultType="sandbox.apricot.member.entity.Member">
    SELECT *
    FROM MEMBERS
    WHERE EMAIL = #{email}
  </select>

</mapper>
