body {
  font-family: "맑은 고딕", 돋움, 굴림;
}

.layout {
  display: flex;
  flex-direction: row;
}

.navmenu-wrapper {
  width: 15%;
}

/* 네비게이션 목차 설정 */
.navmenu ul li a span {
  font-family: 'Jua', sans-serif !important;
}

.navmenu a img {
  display: block;
  max-width: 60%; /* 이미지 크기 조정 */
}

.navmenu a {
  background-color: transparent; /* 링크 배경을 투명하게 설정 */
}

/* 공유와 찜하기 버튼 스타일 */
.button-link {
  display: flex;
}

.button-link {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.button-link button {
  background-color: transparent;
  color: white;
  border: none;
  margin-left: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.button-link button:hover img {
  transform: scale(1.05); /* 약간 확대 */
  transition: 0.5s;
  filter: brightness(90%) invert(5%);
}


/* 전체를 감싸는 컨테이너 */
.policy-detail-page {
  width: 70%;
  max-width: 1200px;
  padding: 20px;
  border-radius: 8px;
}


/* 정책 내용 스타일 */
.policy-header {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 15px auto;
}

.policy-title {
  justify-content: center;
  flex: 1; /* 제목은 가능한 공간을 다 차지 */
}

.policy-title h2 {
  font-size: 25px;
  margin: 0;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.policy-title.visible h2 {
  opacity: 1;
  transform: translateY(0);
}

.policy-table-header h3 {
  font-size: 20px;
  margin-bottom: 0;
  margin-left: 5%;
  color: #F9973E;
}

/* 콘텐츠 테이블 스타일 */
.policy-table-content {
  border: 2px solid #ffdab3;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 5%;
  /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.policy-table-content.visible {
  opacity: 1;
  transform: translateY(0);
}

/* 리스트 항목 스타일 */
.policy-table-content ul {
  list-style: none;
  padding: 0;
  margin: 1%;
}

.policy-table-content ul li {
  gap: 10%;
  display: flex;
  align-items: flex-start;
  /*border-bottom: 2px solid #ffdab3;*/
  padding: 15px 0;
  margin-left: 5%;

  color: black;

  overflow-wrap: break-word; /* 긴 단어를 줄바꿈 */
  word-wrap: break-word; /* 긴 단어를 줄바꿈 */
  white-space: normal; /* 일반적인 줄바꿈 적용 */
}

.policy-table-content ul li:last-child {
  border-bottom: none;
}

/*
  내용 스타일 설정
*/

.list-container {
  flex: 1;
  display: inline-flex;
  flex-direction: column;
  color: black;
  flex-basis: calc(50% - 12px);
  padding-bottom: 5px;
  border-bottom: 1px dotted rgba(193, 193, 193, 0.87);
  overflow-wrap: break-word; /* 긴 단어를 줄바꿈 */
  word-wrap: break-word; /* 긴 단어를 줄바꿈 */
  word-break: break-word;
  white-space: normal; /* 일반적인 줄바꿈 적용 */
}

.list-title {
  font-size: 12px;
  align-content: center;
  justify-content: center;
  color: gray;
  /*font-weight: bold;*/
  margin: 10px;

}

.list-content {
  display: inline-flex;
  font-size: 15px;
  font-weight: bold;
  color: black;
  background-color: white;
  padding: 10px;
  margin-left: 2%;
  border-radius: 8px;
}

/* 추천 혜택 섹션 스타일 - from area */
/* 혜택이 많은 지역 스타일 */
.top-areas {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*width: 70%;*/
  max-width: 1200px;
  /*margin: 20px auto auto calc(13% + 60px);*/
  padding: 20px;
}

.top-areas h2 {
  text-align: left;
  font-size: 1.5em; /* 기본 폰트 크기 */
  color: #F9973E;
  margin-bottom: 10px;
}

.areas-list {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  gap: 30px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; /* 반응형을 위해 Flexbox 사용 */
}

.area-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  gap: 30px; /* 이미지와 텍스트 사이의 간격 */
  box-sizing: border-box; /* 테두리와 패딩을 너비에 포함 */
  overflow: hidden; /* 내용이 요소를 벗어나지 않도록 설정 */
}

.area-item img {
  width: 150px; /* 고정 폭 */
  height: auto;
  max-height: 150px; /* 이미지 크기 조정 */
}

.area-item .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-top: 10px;
}

.area-item .text .region-name {
  font-weight: bold;
  font-size: 1em;
  margin: 0;
}

.area-item .text .region-tag {
  margin-top: 5px;
  color: #F9973E; /* 태그 색상 */
}

.area-item:hover {
  transform: translateY(-10px);
}

.area-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

/* 반응형 */
@media (max-width: 575px) {
  .policy-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .policy-detail-page {
    margin: 0;
    padding: 0;
  }

  .top-areas {
    margin: 0;
    padding: 0;
  }

  .policy-table-content ul li {
    display: flex;
    flex-direction: column;
  }

  .list-content {
    font-size: 15px;
    margin: 0;
  }

  .policy-title h2 {
    font-size: 30px;
  }

  .policy-table-header h3 {
    font-size: 15px;
  }

}

/* 하트 아이콘 css */
.icon {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  font-size: 15px;
  user-select: none;
  transition: 100ms;
  margin-left: 5px;
}

.check {
  top: 0;
  left: 0;
  height: 2em;
  width: 2em;
  transition: 100ms;
  animation: dislike_effect 400ms ease;
}

.container input:checked ~ .check path {
  fill: #ff5353;
  stroke-width: 0;
}

.container input:checked ~ .check {
  animation: like_effect 400ms ease;
}

.container:hover {
  /*transform: scale(1.1);*/
}

@keyframes like_effect {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes dislike_effect {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}



