/* 기본 스타일 */
form {
  margin: 0; /* 기본 여백 제거 */
  padding: 0; /* 기본 패딩 제거 */
  width: 100%; /* 폼의 너비를 컨테이너에 맞게 조정 */
  display: flex; /* 폼 내부 요소들이 가로 방향으로 배치되도록 설정 */
}

/* search-wrapper 스타일 */
.search-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin-top: 10px; /* 로고와 검색창 사이의 간격 조정 */
}

/* search-btn 스타일 */
.search-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: -40px;
}

.search-icon {
  font-size: 18px;
  color: #F9973E;
}

/* 기타 스타일 */

body {
  display: flex; /* Flexbox를 사용하여 자식 요소를 배치 */
  flex-direction: column; /* 수직 방향으로 배치 */
}

section {
  display: flex; /* Flexbox로 레이아웃 조정 */
  justify-content: center;
  align-items: center;
  overflow: hidden; /* TODO: x ? 고민....*/
  position: relative;
  flex-direction: row; /* 기본적으로 가로 방향으로 배치 */
}

.blur-background {
  position: relative; /* 헤더 위에 위치하지 않도록 조정 */
  background: rgba(255, 255, 255, 0.7); /* 불투명한 카드 배경 */
  margin: auto;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%; /* 카드의 고정 높이 설정 */
  justify-content: center; /* 카드 내부의 내용 세로 중앙 정렬 */
}

/* 워드 클라우드 섹션 */
.word-cloud {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1; /* 남은 공간을 차지하도록 설정 */
  z-index: 2; /* 워드 클라우드가 오버레이와 비디오보다 위에 나타나도록 설정 */
  overflow: hidden; /* 카드 초과 표시 방지 */
  background-color: transparent; /* 배경을 투명하게 설정 */
}

#myChart {
  width: 90%;
  min-height: 500px;
}

.zc-ref {
  display: none;
}

/* 챗봇 오버레이 */
.chatbot-overlay {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #ff6b6b;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}

.chatbot-icon {
  color: white;
  font-size: 30px;
}

.chatbot-text {
  display: none; /* 기본적으로 숨김 */
  position: absolute;
  bottom: 70px; /* 챗봇 아이콘 위쪽 */
  right: 0;
  background: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 200px; /* 말풍선 너비 */
  text-align: center;
  z-index: 3;
}

.chatbot-overlay:hover .chatbot-text,
.chatbot-overlay.active .chatbot-text {
  display: block;
}

/* 미디어 쿼리: 화면 너비가 768px 이하인 경우 */
@media (max-width: 768px) {
  section {
    min-height: 300px; /* 화면 크기가 작은 경우 최소 높이를 조정 */
    flex-direction: column; /* 화면이 좁아지면 세로 방향으로 배치 */
  }
  .search-container, .word-cloud {
    width: 100%; /* 컨테이너의 폭을 전체 화면에 맞춤 */
  }
}

/* 미디어 쿼리: 화면 너비가 480px 이하인 경우 */
@media (max-width: 480px) {
  section {
    min-height: 200px; /* 화면 크기가 매우 작은 경우 최소 높이를 조정 */
    flex-direction: column; /* 화면이 좁아지면 세로 방향으로 배치 */
  }
  .search-container, .word-cloud {
    width: 100%; /* 컨테이너의 폭을 전체 화면에 맞춤 */
  }
}
