footer {
  font-family: 'Jua', sans-serif; /* 외부 폰트 적용 */
  background-color: #FFE9CE;
  padding: 10PX 0;
  text-align: left;
  width:100%;
}

.footer-content p {
  margin: 0;
}

.footer-content a {
  color: #767676;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.github{
  padding-left:10px;
}

.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 10px;
}

.resume-href {
  margin: 10px;
}
