footer {
  position: relative;
  background-color: #FFE9CE;
  padding: 15px;
  text-align: left;
  height: 60px; /* 푸터의 높이 */
}

.footer-content p {
  margin: 0;
}

.footer-content a {
  color: #767676;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume-href {
  margin: 10px;
}

/*footer {*/
/*  background-color: #FFE9CE;*/
/*  !*padding: 15px;*!*/
/*  height: 60px; !* 푸터의 고정 높이 *!*/
/*  flex-shrink: 0; !* 축소되지 않도록 설정 *!*/
/*}*/

/*.footer-content {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  align-items: center; !* 콘텐츠를 세로로 중앙 정렬 *!*/
/*}*/

/*.footer-content p {*/
/*  margin: 0;*/
/*}*/

/*.footer-content a {*/
/*  color: #767676;*/
/*  text-decoration: none;*/
/*}*/

/*.footer-content a:hover {*/
/*  text-decoration: underline;*/
/*}*/

/*.resume {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*}*/

/*.resume-href {*/
/*  margin: 10px;*/
/*}*/